# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Lab3_SqlDatabase.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\naree\source\repos\Lab3_SqlDatabase\Lab3_SqlDatabase\.idea\.idea.Lab3_SqlDatabase.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
